*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('../background.webp') no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.portifolio{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;

}
.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.perfil img{
    height: 7rem;
}
.name{
    padding: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.name p{
    padding: 8px;
}
.botoes{
    border: 1px solid #03e9f4;
    border-radius: 5px;
    background-color: #0508015d;
    color: #03e9f4;
    padding: 8px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s;
    
}
    
.botoes:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 75px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.botoes2{
    position: absolute;
    border: 1px solid #171515;
    border-radius: 5px;
    background-color: #05080175;
    color: white;
    padding: 6px 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 13rem 0 0 -13rem;
}
.projetos{
    position:relative;
    display: grid;
    grid-template-areas: 'projeto1 projeto2' 'projeto3 projeto4';
    grid-gap: 15px;
    padding: 10px;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.projetos img{
   width: 350px;
    align-items: center;
    justify-content: center;

}